/* http://www.broculos.net/2015/08/how-to-build-collapsible-sidebars-with.html */
@media (min-width: 992px) {
  #sidebar-left.collapsed {
    /* same width as sidebar */
    display: block;
    margin-left: -25%;
  }
}

@media (min-width: 992px) {
  #sidebar-right.collapsed {
    /* same width as sidebar */
    display: block;
    padding-left: 100px;
    margin-right: -25%;
  }
}

#row-main {
  /* necessary to hide collapsed sidebars */
  overflow-x: hidden;
}

#content {
  /* for the animation */
  transition: width 0.3s ease;
}

.sidebar {
  /* for the animation */
  transition: margin 0.3s ease;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}

@media (min-width: 992px) {
  .collapsed {
    display: block;
  }
}

/*
index.html javascript for toggling
			function toggleSidebar(side) {
				if (side !== "left" && side !== "right") {
					return false;
				}
				var left = $("#sidebar-left"),
						right = $("#sidebar-right"),
						content = $("#content"),
						openSidebarsCount = 0,
						contentClass = "";


				// toggle sidebar
				if (side === "left") {
					left.toggleClass("collapsed");
				} else if (side === "right") {
					right.toggleClass("collapsed");
				}

				// determine number of open sidebars
				if (!left.hasClass("collapsed")) {
					openSidebarsCount += 1;
				}

				if (right.length > 0 && !right.hasClass("collapsed")) {
					openSidebarsCount += 1;
				}


				// determine appropriate content class
				if (openSidebarsCount === 0) {
					contentClass = "col-md-12";
				} else if (openSidebarsCount === 1) {
					contentClass = "col-md-9";
				} else {
					contentClass = "col-md-6";
				}

				// apply class to content
				content.removeClass("col-md-12 col-md-9 col-md-6")
						.addClass(contentClass);
			}

			$("#toggle-sidebar-left").click(function () {
				toggleSidebar("left");
				return false;
			});

			$("#toggle-sidebar-right").click(function () {
				toggleSidebar("right");
				return false;
			});
*/
